@model Forum

@{
    ViewData["Title"] = "Edit";
}

<div class="container col-6" style="margin-top: 120px;">
    <div class="card border-info">
        <h2 class="card-header bg-info text-white">Edit Forum Details</h2>
        <div class="card-body">
            <div asp-validation-summary="All" class="text-danger"></div>
            <form asp-action="Edit" method="post">
                <input asp-for="Id" type="hidden" />
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="IsLocked">Locked?</label>
                    <input asp-for="IsLocked" class="form-check-inline float-right" />
                </div>
                <button type="submit" class="btn btn-primary float-right">Submit</button>
            </form>
        </div>
    </div>




</div>
